<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/wiibleyde.png">
        <link rel="stylesheet" href="/static/style.css">
        <title>Tally - Home</title>
    </head>
    <body>
        <h1 class="bodyH1">Bienvenue sur le site tally de Wiibleyde</h1>
        <p class="bodyP">Vous pouvez accéder aux caméras en cliquant sur les liens ci-dessous</p>
        <ul>
            <a href="/cam?camId=1"><li>Caméra 1</li></a>
            <a href="/cam?camId=2"><li>Caméra 2</li></a>
            <a href="/cam?camId=3"><li>Caméra 3</li></a>
            <a href="/cam?camId=4"><li>Caméra 4</li></a>
            <a href="/cam?camId=5"><li>Caméra 5</li></a>
            <a href="/cam?camId=6"><li>Caméra 6</li></a>
        </ul>
        <p class="bodyP">Pour accèder au panel de visualisation des layers cliquez sur le bouton si dessous</p>
        <ul>
            <a href="/panel"><li>Panel</li></a>
        </ul>
    </body>
    <footer>
        <p class="bodyP">Site réalisé par <a href="https://github.com/Wiibleyde/ObsSceneTally">Wiibleyde</a></p>
    </footer>
</html>