<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/wiibleyde.png">
        <link rel="stylesheet" href="/static/style.css">
        <title>Tally - Panel</title>
    </head>
    <script src="/static/layers.js"></script>
    <body>
        <h1>Tally panel</h1>
        <p id="layer1text">Layer 1 : <span id="layer1"></span></p>
        <p id="layer2text">Layer 2 : <span id="layer2"></span></p>
        <p id="layer3text">Layer 3 : <span id="layer3"></span></p>
    </body>
</html>