<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cam {{ .CamId }}</title>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
            color: white;
            background-color: black;
            text-align: center;
        }

        h1 {
            font-size: 9rem;
            margin: 0;
        }

        p {
            font-size: 5rem;
            margin: 0;
        }
    </style>
    <script>
        let camId = "{{ .CamId }}";
        let apiLinks = [];

        for (let i = 1; i <= 3; i++) {
            apiLinks.push("/api/getLayer?layerId=" + i);
        }

        function updateCamStatus() {
            let promises = apiLinks.map(apiLink => fetchCamStatus(apiLink));

            Promise.all(promises)
                .then(camIds => {
                    if (camIds.includes(camId)) {
                        let layers = camIds.map((camId, index) => {
                            if (camId == "{{ .CamId }}") {
                                return index + 1;
                            }
                        });
                        layers = layers.filter(layer => layer !== undefined);
                        document.body.style.backgroundColor = "green";
                        document.getElementById("camStatus").innerHTML = "Live on layer(s): " + layers.join(", ");
                    } else if(!camIds.includes(camId) && !camIds.includes(undefined)) {
                        document.body.style.backgroundColor = "red";
                        document.getElementById("camStatus").innerHTML = "Offline";
                    } else {
                        document.body.style.backgroundColor = "gray";
                        document.getElementById("camStatus").innerHTML = "Error fetching camera status";
                    }
                })
                .catch(error => {
                    console.error('Error fetching camera status:', error);
                    document.body.style.backgroundColor = "gray";
                    document.getElementById("camStatus").innerHTML = "Error fetching camera status";
                });
        }

        function fetchCamStatus(apiLink) {
            return fetch(apiLink)
                .then(response => response.text())
                .then(camId => camId)
                .catch(error => {
                    console.error('Error fetching camera status:', error);
                    document.body.style.backgroundColor = "gray";
                    document.getElementById("camStatus").innerHTML = "Error fetching camera status";
                });
        }

        setInterval(updateCamStatus, 1000);

    </script>
    <body>
        <h1>Tally cam {{ .CamId }}</h1>
        <p>Cam status: <span id="camStatus"></span></p>
    </body>
</html>